{{ asset_style('visiosoft.theme.defaultadmin::css/ocify-sidebar.css') }}

<aside id="wrapper">
    <div class="linear-background"></div>
    <div class="logo-bar">
        <div class="logo">
            <a href="{{ url('admin') }}" class="logo variant-logo">
                {% if setting_value('visiosoft.theme.defaultadmin::panel_icon') %}
                    {{ img(file(setting_value('visiosoft.theme.defaultadmin::panel_icon')).make.url) }}
                {% else %}
                    {{ img('theme::img/panel-icon.svg').data|raw }}
                {% endif %}
            </a>
        </div>

        <div id="menu-toggle-2">
            <i class="fa fa-angle-left"></i>
        </div>
    </div>

    <div class="sidebar-wrapper">
        {% include "theme::partials/search-box" %}

        <ul class="sidebar-nav nav-stacked" id="ocify-menu">
            {% for group_key,group in getInteractiveMenus() %}
                <li class="sidebar-group {{ group.active ? 'active' }}">
                    <a class="sidebar-group-link" title="{{ group.title }}" data-toggle="collapse"
                       data-target="#{{ group_key }}M" aria-expanded="{{ group.active ? 'true' : 'false' }}">
                        <span data-toggle="tooltip" data-placement="right" title="{{ group.title }}">
                            <span class="icon">
                                {% if group.icon %}
                                    {{ img(group.icon).data|raw }}
                                {% endif %}
                            </span>
                            <span class="title">{{ group.title }}</span>
                        </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <div class="collapse {{ group.active ? 'in' }} group-sublist" id="{{ group_key }}M" data-parent="#ocify-menu" aria-expanded="{{ group.active ? 'true' : 'false' }}">
                        <ul class="nav-stacked sidebar-items">
                            {% for addon_key,addon in group.addons %}
                                <li class="nav-item sidebar-addon {{ addon.active ? 'active' }}">
                                    <a title="{{ trans(addon.title) }}"
                                            {% if addon.sections is not defined %}
                                                href="{{ addon.href }}" title="{{ trans(addon.title) }}"
                                            {% endif %}
                                       class="sidebar-title sidebar-addon-link"
                                       data-toggle="collapse"
                                       aria-expanded="{{ addon.active ? 'true' : 'false' }}"
                                       data-target="#{{ addon_key }}">
                                        <span>
                                            {{ trans(addon.title) }}
                                        </span>
                                        {% if addon.sections is defined %}
                                            <i class="fa fa-angle-down"></i>
                                        {% endif %}
                                    </a>
                                    <div class="sidebar-sublist collapse {{ addon.active ? 'in' }} pl-1"
                                         id="{{ addon_key }}" aria-expanded="false">
                                        <ul class="flex-column nav">
                                            {% if addon.sections is defined %}
                                                {% for section in addon.sections %}
                                                    <li class="sub-item {{ section.active ? 'active' }}">
                                                        <a href="{{ section.href }}" title="{{ trans(section.title) }}"
                                                           class="text-truncate sidebar-title">
                                                            {{ trans(section.title) }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</aside>

{{ asset_script('visiosoft.theme.defaultadmin::js/ocify-sidebar.js') }}
