{% import "visiosoft.theme.defaultadmin::macros/sections.twig" as menu %}
<aside id="menu" class="scrollbar">
    <ul>
        {% set parent = template.module.parent %}

        {% if template.module.slug in ['variables','system','redirects','repeaters'] %}
            {% set parent = "anomaly.module.settings" %}
        {% endif %}



        {% if not parent %}
            {% for section in template.cp.sections.root().visible() %}
                {{ menu.sections(template.cp.sections, section) }}
            {% endfor %}

            {% set submenus = getSubmenus(template.module.namespace) %}

            {% if count(submenus) %}
                {% for addon in submenus %}
                    <li class="dropdown d-inline-block">
                        <a type="button" data-toggle="dropdown">
                            {{ addon.name }}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu ml-0 my-0 py-0"
                            style="position: relative; background-color: transparent !important; border: 0;padding-left: 1.3rem">

                            {% for navigation in addon.links %}
                                <li>
                                    <a href="{{ url(navigation.href) }}"
                                       style="font-size: 14px;color: #ccc !important;">
                                        {{ trans(navigation.title) }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}

            {% endif %}
        {% else %}

            {% set menu = getSections(parent) %}
            {% set main_menu = menu['main'] %}
            {% set sub_menus = menu['sub_menus'] %}

            {% for navigation in main_menu %}
                <li>
                    <a href="{{ url(navigation.href) }}">
                        {{ trans(navigation.title) }}
                    </a>
                </li>
            {% endfor %}

            {% if count(sub_menus) %}
                {% for addon in sub_menus %}
                    <li class="dropdown d-inline-block">
                        <a type="button" data-toggle="dropdown">
                            {{ addon.name }}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu ml-0 my-0 py-0"
                            style="position: relative; background-color: transparent !important; border: 0;padding-left: 1.3rem">

                            {% for navigation in addon.links %}
                                <li>
                                    <a href="{{ url(navigation.href) }}"
                                       style="font-size: 14px;color: #ccc !important;">
                                        {{ trans(navigation.title) }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}

            {% endif %}

        {% endif %}
    </ul>
</aside>