<!doctype html>

<html lang="{{ config('app.locale') }}">

<head>
    {% include "theme::partials/metadata" %}
    {% block styles %}{% endblock %}
</head>

<body class="variant-{{ random(8) }}{{ locale().isRtl() ? ' rtl' }} display--{{ preference_value('visiosoft.theme.defaultadmin::display', 'default') }} sidebars--{{ preference_value('visiosoft.theme.defaultadmin::sidebars', 'default') }}"
      data-variants="8">

{# {% include "theme::partials/push" %} #}
{# {% include "theme::partials/brand" %} #}
{# {% include "theme::partials/navbar" %} #}
{# {% include "theme::partials/header" %} #}
<section id="app">
    {% if config('admin_theme::interactive_side_menu',false) %}
            {% include "visiosoft.theme.defaultadmin::partials/interactiveMenu" %}
    {% else %}
            {% include "visiosoft.theme.defaultadmin::partials/logo" %}
            {% include "visiosoft.theme.defaultadmin::partials/sidebar" %}
            {% include "visiosoft.theme.defaultadmin::partials/menu" %}
    {% endif %}
    <main id="main" style="min-height: 1500px; padding-top: 70px;">
        {% include "visiosoft.theme.defaultadmin::partials/topbar" %}
        {% if not config('admin_theme::interactive_side_menu',false) %}
            <div class="topbar-breadcrumb">{{ breadcrumb() }}</div>
        {% endif %}
        {% if trans('module::addon.info') != 'module::addon.info' %}
            <div class="page-info m-2 small text-white alert rounded">{{ trans('module::addon.info') }}</div>
        {% endif %}
        <div class="container-fluid pt-1">
            {% include "theme::partials/messages" %}
            {% include "theme::partials/buttons" %}
        </div>

        {% block content %}{% endblock %}

    </main>
    {% include "theme::partials/footer" %}
    {% include "theme::partials/modals" %}
</section>
{% include "theme::partials/assets" %}
</body>
</html>
