<!doctype html>

<html>

<head>
    {% include "theme::partials/metadata" %}
</head>

<body class="login-page">
<style>
    .login-page {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(172deg,
        {{ setting_value('visiosoft.theme.defaultadmin::secondary_color') }} 0%,
        {{ setting_value('visiosoft.theme.defaultadmin::secondary_color') }} 60%,
        {{ setting_value('visiosoft.theme.defaultadmin::primary_color') }} 60%,
        {{ setting_value('visiosoft.theme.defaultadmin::primary_color') }} 0%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr={{ setting_value('visiosoft.theme.defaultadmin::secondary_color') }},
        endColorstr={{ setting_value('visiosoft.theme.defaultadmin::primary_color') }}, GradientType=1);
    }
    .help-icon svg #Path_20512, #Path_20511 {
        fill: {{ setting_value('visiosoft.theme.defaultadmin::primary_color') }};
    }
    .login-logo img, .login-logo svg {
        height: 80px !important;
        width: 100px !important;
    }
    .login-site-name {
        text-transform: uppercase !important;
        color: {{ setting_value('visiosoft.theme.defaultadmin::background_color') }} !important;
        font-weight: bold;
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }
    .login-site-subtitle {
        color: {{ setting_value('visiosoft.theme.defaultadmin::background_color') }} !important;
        opacity: 0.5;
        padding-bottom: 1rem;
    }
    .login-form-block {
        padding: 30px 15px;
        box-shadow: 0px 0px 15px {{ setting_value('visiosoft.theme.defaultadmin::primary_color') }};
    }
    .login-form-block .form-control::placeholder {
        color: {{ setting_value('visiosoft.theme.defaultadmin::background_color') }} !important;
        filter: brightness(80%);
    }
    .login-form-block .form-control {
        border-color: #ddd !important;
    }
</style>
{% block content %}{% endblock %}

{% include "theme::partials/assets" %}

</body>
</html>
